<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章发表表单</title>
</head>
<body>

<h2>发表新文章</h2>

<form action="{{url_for('blog.add')}}" method="post">
    <label for="title">文章标题:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="author">作者:</label><br>
    <input type="text" id="author" name="author" required><br>

    <label for="content">文章内容:</label><br>
    <textarea id="content" name="content" rows="10" cols="30" required></textarea><br>

    <input type="submit" value="发表">
</form>

</body>
</html>